@model CVGS.Models.Game

@{
    ViewData["Title"] = $"{Context.Request.Cookies["GameTitle"]}";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnglishName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenchVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenchVersion)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishPlayerCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnglishPlayerCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsrbRatingCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsrbRatingCodeNavigation.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameCategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameCategory.EnglishCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamePerspectiveCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamePerspectiveCodeNavigation.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameStatusCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameStatusCodeNavigation.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameSubCategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameSubCategory.EnglishCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnglishDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishDetail)
        </dt>
        <dd class="col-sm-10">
            <ul><li>@Html.DisplayFor(model => model.EnglishDetail)</li></ul>
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenchPlayerCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenchPlayerCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenchTrailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenchTrailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenchDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenchDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenchDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenchDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishTrailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnglishTrailer)
            @Html.Raw(@Model.EnglishTrailer.ToString())
        </dd>*@
    </dl>
</div>
<div>
    @if (User.IsInRole("administrators") || User.IsInRole("Employees"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Guid">Edit</a> 
                                                                 }
<a asp-action="Index">Back to List</a>
</div>
