@page
@model CVGS.Areas.Identity.Pages.Account.Manage.AddressesModel
@{
    ViewData["Title"] = "Addresses";
    ViewData["ActivePage"] = ManageNavPages.Addresses;
}


<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div>
            <hr />
            <h6>Mailing Addresss</h6>
            <ul>
                @foreach (var item in Model.Input.addressMailings)
                {
                    @Html.Raw(@Model.AddressSummary(item.MailingId, true))
                    <br />
                    <a id="EditM_@item.MailingId" asp-page="AddressEdit" asp-route-id="@item.MailingId" asp-route-isMailing="true">Edit</a>
                    <a id="DeleteM_@item.MailingId" asp-page="AddressDelete" asp-route-id="@item.MailingId" asp-route-isMailing="true">Delete</a>
                    <br />
                }
            </ul>
            <a asp-page="AddressAdd" asp-route-isMailing="true">Add Mailing Address</a>
        </div>
        <div>
            <hr />
            <h6>Shipping Addresses</h6>
            <ul>
                @foreach (var item in Model.Input.addressShippings)
                {
                    @Html.Raw(@Model.AddressSummary(item.ShippingId, false))
                    <br />
                    <a id="EditS_@item.ShippingId" asp-page="AddressEdit" asp-route-id="@item.ShippingId" asp-route-isMailing="false">Edit</a>
                    <a id="DeleteS_@item.ShippingId" asp-page="AddressDelete" asp-route-id="@item.ShippingId" asp-route-isMailing="false">Delete</a>
                    <br />
                }
            </ul>
            <a asp-page="AddressAdd" asp-route-isMailing="false">Add Shipping Address</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
