@page
@model CVGS.Areas.Identity.Pages.Account.Manage.ChangePreferencesModel
@{
    ViewData["Title"] = "Change Preferences";
    ViewData["ActivePage"] = ManageNavPages.Preferences;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div>
            <h6>Platform Preferences</h6>
            <ul>
                @foreach (var item in Model.preferenceInputModel.platformSelected)
                {
                    <li>
                        <form asp-page-handler="Remove" asp-route-id="@item.PlatformCodeNavigation.EnglishName" method="post">
                            @item.PlatformCodeNavigation.EnglishName <button id="@item.PlatformCodeNavigation.EnglishName" class="btn btn-link">Remove</button>
                        </form>
                    </li>
                }
            </ul>
            @if (Model.preferenceInputModel.AllPlatformsSelected)
            {
                <hr />
                <div id="AllPlatformsSelected">All Platforms selected.</div>
            }
            else
            {
                <form method="post">
                    <select id="listPlatform" asp-for="@Model.preferenceInputModel.AddValue">
                        <optgroup label="Platforms">
                            @foreach (var item in Model.preferenceInputModel.platforms)
                            {
                                if (!Model.PlatformPrefExists(item.EnglishName))
                                {
                                    <option value="@item.EnglishName">@item.EnglishName</option>
                                }
                            }
                        </optgroup>
                    </select>
                    <button id="addPlatform" type="submit" class="btn btn-primary">Add</button>
                </form>
            }
            <hr />
        </div>
        <div>
            <h6>Category Preferences</h6>
            <ul>
                @foreach (var item in Model.preferenceInputModel.categorySelected)
                {
                    <li>
                        <form asp-page-handler="Remove" asp-route-id="@item.Gamecategory.EnglishCategory" method="post">
                            @item.Gamecategory.EnglishCategory <button id="@item.Gamecategory.EnglishCategory" class="btn btn-link">Remove</button>
                        </form>
                    </li>
                }
            </ul>
            @if (Model.preferenceInputModel.AllCategoriesSelected)
            {
                <hr />
                <div id="AllCategoriesSelected">All Categories selected.</div>
            }
            else
            {
                <form method="post">
                    <select id="listCategory" asp-for="@Model.preferenceInputModel.AddValue">
                        <optgroup label="Categories">
                            @foreach (var item in Model.preferenceInputModel.categories)
                            {
                                if (!Model.CategoryPrefExists(item.EnglishCategory))
                                {
                                    <option value="@item.EnglishCategory">@item.EnglishCategory</option>
                                }
                            }
                        </optgroup>
                    </select>
                    <button id="addCategory" type="submit" class="btn btn-primary">Add</button>
                </form>
            }
            <hr />
        </div>
        <div>
            <h6>Subcategory Preferences</h6>
            <ul>
                @foreach (var item in Model.preferenceInputModel.subCategorySelected)
                {
                    <li>
                        <form asp-page-handler="Remove" asp-route-id="@item.GameSubcategory.EnglishCategory" method="post">
                            @item.GameSubcategory.EnglishCategory <button id="@item.GameSubcategory.EnglishCategory" class="btn btn-link">Remove</button>
                        </form>
                    </li>
                }
            </ul>
            @if (Model.preferenceInputModel.AllSubcategoriesSelected)
            {
                <hr />
                <div id="AllSubcategoriesSelected">All SubCategories selected.</div>
                <hr />
            }
            else
            {
                <form method="post">
                    <select id="listSubcategory" asp-for="@Model.preferenceInputModel.AddValue">
                        <optgroup label="SubCategories">
                            @foreach (var item in Model.preferenceInputModel.subCategories)
                            {
                                if (!Model.SubCategoryPrefExists(item.EnglishCategory))
                                {
                                    <option value="@item.EnglishCategory">@item.EnglishCategory</option>
                                }
                            }
                        </optgroup>
                    </select>
                    <button id="addSubcategory" type="submit" class="btn btn-primary">Add</button>
                </form>
            }
        </div>
    </div>
</div>


<a class="nav-link" id="go-back" asp-page="./PreferencesIndexPage">Go back</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
