@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Current Roles";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Role" asp-action="CreateRole" method="post">
    <label>Create New Role:</label>
    <input type="text" name="roleName" />
    <input type="submit" class="btn btn-primary" value="Create" />
</form>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="ListUsersInRole" asp-route-id="@item.Id">Users In Role</a> |
                        @if (item.Name != "administrators")
                        {
                            <a asp-action="DeleteRole" asp-route-id="@item.Id">Delete Role</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}