@model IEnumerable<CVGS.Models.Game>

@{
    ViewData["Title"] = "All Games";
}

<h1>@ViewData["Title"]</h1>

<p>
    @if (User.IsInRole("administrators") || User.IsInRole("Employees"))
    {
        <a asp-action="Create">Create New</a>
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameSubCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsrbRatingCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameCategory.EnglishCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameSubCategory.EnglishCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsrbRatingCodeNavigation.Code)
            </td>
            <td>
                @if (User.IsInRole("administrators") || User.IsInRole("Employees"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Guid">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.Guid">Details</a>
                @if (User.IsInRole("administrators") || User.IsInRole("Employees"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Guid">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
