@model IEnumerable<CVGS.Models.Game>

@{
    ViewData["Title"] = "All Games";
}

<h1>@ViewData["Title"]</h1>

<p>
    @if (User.IsInRole("administrators") || User.IsInRole("Employees"))
    {
        <a asp-action="Create">Create New</a>
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameSubCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsrbRatingCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameCategory.EnglishCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameSubCategory.EnglishCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsrbRatingCodeNavigation.Code)
            </td>
            <td>
                <div class="row">
                    @if (User.IsInRole("members") || User.IsInRole("administrators") || User.IsInRole("Employees"))
                    {
                        <form asp-area="Identity" asp-page="/Account/CartIndex" asp-page-handler="Add" asp-route-id="@item.Guid" method="post">
                            <button class="btn btn-link">Add To Cart</button>
                        </form>
                    }
                    @if (User.IsInRole("members") || User.IsInRole("administrators") || User.IsInRole("Employees"))
                    {
                        <form asp-area="Identity" asp-page="/Account/WishList" asp-page-handler="Add" asp-route-id="@item.Guid" method="post">
                            <button class="btn btn-link">Add To Wishlist</button>
                        </form>
                    }
                </div>
                <div class="flex-xl-row">
                    @if (User.IsInRole("administrators") || User.IsInRole("Employees"))
                    {
                        <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Guid">Edit</a>
                    }
                    <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Guid">Details</a>
                    @if (User.IsInRole("administrators") || User.IsInRole("Employees"))
                    {
                        <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Guid">Delete</a>
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
