@page
@model CVGS.Areas.Identity.Pages.Account.CartCheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
<partial name="Manage/_StatusMessage" for="StatusMessage" />
<form method="post">
    <div class="row">
        <div class="col-md-6">
            <h5>Mailing Address:</h5>
            @foreach (var item in Model.Input.addressMailings)
            {
                <div class="form-group">
                    <input type="radio" asp-for="@item" value="@item.MailingId" />
                    <label for="@item">@item.Street @item.PostalCode @item.CountryCodeNavigation.EnglishName</label>
                </div>
            }
            <h5>Shipping Address:</h5>
            @foreach (var item in Model.Input.addressShippings)
            {
                <input type="radio" asp-for="@item" value="@item.ShippingId" />
                <label for="@item">@item.Street @item.PostalCode @item.CountryCodeNavigation.EnglishName</label>
            }
            <h5>Credit Card Information:</h5>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="@Model.Input.creditCardNumber"></label>
                    <input placeholder="0000000000000000" asp-for="@Model.Input.creditCardNumber" class="form-control" />
                    <span asp-validation-for="@Model.Input.creditCardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Input.securityCode"></label>
                    <input placeholder="000" asp-for="@Model.Input.securityCode" class="form-control" />
                    <span asp-validation-for="@Model.Input.securityCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="@Model.Input.month"></label>
                    <input placeholder="00" asp-for="@Model.Input.month" class="form-control" />
                    <span asp-validation-for="@Model.Input.month" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Input.year"></label>
                    <input placeholder="00" asp-for="@Model.Input.year" class="form-control" />
                    <span asp-validation-for="@Model.Input.year" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Input.cartItems.First().Game.EnglishName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Input.cartItems.First().Game.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Input.cartItems.First().Quantity)
                </th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Input.cartItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.EnglishName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Quantity)
                    </td>
                    <td>
                        @String.Format("{0:$0.00}", (item.Quantity * item.Game.Price))
                    </td>
                </tr>
            }
            <!-- Display Subtotal here-->
            <tr>
                <td></td>
                <td></td>
                <th>@Html.DisplayNameFor(model => Model.Input.subTotal)</th>
                <td>@String.Format("{0:$0.00}", @Model.Input.subTotal)</td>
            </tr>
            <!-- Display Tax here-->
            <tr>
                <td></td>
                <td></td>
                <th>@Html.DisplayNameFor(model => Model.Input.taxRate)</th>
                <td>@String.Format("{0:0.00%}", @Model.Input.taxRate)</td>
            </tr>
            <!-- Display Total here-->
            <tr>
                <td></td>
                <td></td>
                <th>@Html.DisplayNameFor(model => Model.Input.finalTotal)</th>
                <td>@String.Format("{0:$0.00}", @Model.Input.finalTotal)</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-success" />
</form>
